<mat-toolbar color="primary">
  <span>{{ data.title }}</span>
</mat-toolbar>
<div mat-dialog-content>
  <form [formGroup]="documentUploadForm">
    <div class="form-row">
      <div *ngIf="data.fileType === 'Documente'">
        <mat-form-field appearance="fill">
          <mat-label>Tip document</mat-label>
          <mat-select id="documentSelect" formControlName="fileTypeSelection">
            <mat-option *ngFor="let document of documenteSelect" [value]="document">
              {{ document }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="data.fileType === 'Imagistică'">
        <mat-form-field appearance="fill">
          <mat-label>Tip document</mat-label>
          <mat-select id="imagisticaSelect" formControlName="fileTypeSelection">
            <mat-option *ngFor="let imagistica of imagisticaSelect" [value]="imagistica">
              {{ imagistica }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <!-- Butonul stilizat cu iconiță și text -->
      <button mat-button class="custom-file-button" (click)="openFileDialog()">
        <mat-icon class="button-icon">attach_file</mat-icon>
        <span>Selectează un fișier</span>
        <input type="file" id="fileInput" name="fileInfo" (change)="onFileSelected($event)" style="display:none" />
      </button>
      <p class="file-name" *ngIf="!file; else fileName">Niciun fișier selectat</p>
      <ng-template #fileName>
        <p class="file-name">{{ file?.name }}</p>
      </ng-template>
    </div>
    <div mat-dialog-actions class="form-buttons">
      <button mat-button mat-dialog-close>Anulare</button>
      <button mat-button (click)="onYesClick()" [disabled]="!file">Salvare</button>
    </div>
  </form>
</div>
