form {
  display: flex;
  flex-direction: column;

  &.details-form {
    margin-top: 20px;
    width: 100%;
  }

  .form-row {
    display: flex;
    gap: 10px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    transition: border-color 0.3s ease-in-out;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    border-color: red; /* Schimbă culoarea bordurii atunci când câmpul este focusat */
  }
  
  .sex-container {
    height: 56px;
    flex: 1;

    mat-button-toggle-group {
      height: 100%;

      mat-button-toggle {
        align-items: center;
        display: flex;

        mat-icon {
          font-size: 30px;
          height: 40px;
          width: 70px;
        }
      }
    }
  }
}

mat-button-toggle-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  mat-button-toggle {
    flex: 1;

    mat-icon {
      font-size: 30px;
      height: 40px;
      width: 100px;
    }
  }
}

.form-buttons {
  justify-content: space-between;
}
