form {
  display: flex;
  flex-direction: column;

  &.details-form {
    margin-top: 20px;
  }

  .form-row {
    display: flex;
    gap: 10px;
  }

  .sex-container {
    height: 56px;
    flex: 1;

    mat-button-toggle-group {
      height: 100%;

      mat-button-toggle {
        align-items: center;
        display: flex;
      }
    }
  }
}

mat-button-toggle-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  mat-button-toggle {
    flex: 1;
  }
}

.form-buttons {
  justify-content: space-between;
}
