<mat-toolbar color="primary">
  <span>{{ isAdd ? 'Adaugă un utilizator nou' : 'Modifică date utilizator' }}</span>
</mat-toolbar>
<div mat-dialog-content>
  <form [formGroup]="userForm" class="user-form">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Nume utilizator</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-error *ngIf="userForm.get('username')?.touched && userForm.get('username')?.errors" class="mat-mdc-form-field-error">
          Câmp obligatoriu
        </mat-error>        
      </mat-form-field>

      <mat-form-field>
        <mat-label>Parolă</mat-label>
        <input matInput type="password" formControlName="password" class="form-control" />
        <mat-hint *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors" class="mat-mdc-form-field-error">
          Câmp obligatoriu
        </mat-hint>
      </mat-form-field>
    </div>

    <mat-label>Rol: </mat-label>
      <mat-button-toggle-group name="role" formControlName="role">
        <mat-button-toggle value="0" matTooltip="Admin">
          <mat-icon fontSet="fa-solid" fontIcon="fa-user-gear"></mat-icon>
        </mat-button-toggle>

        <mat-button-toggle value="1" matTooltip="Medic">
          <mat-icon fontSet="fa-solid" fontIcon="fa-stethoscope"></mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <br/>
    <div class="form-row">
      <mat-label>Detalii:</mat-label>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Prenume</mat-label>
        <input matInput type="text" formControlName="first_name" />
        <mat-hint *ngIf="userForm.get('first_name')?.touched && userForm.get('first_name')?.errors" class="mat-mdc-form-field-error">
          Câmp obligatoriu
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nume</mat-label>
        <input matInput type="text" formControlName="last_name" />
        <mat-hint *ngIf="userForm.get('last_name')?.touched && userForm.get('last_name')?.errors" class="mat-mdc-form-field-error">
          Câmp obligatoriu
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput type="tel" formControlName="phone" />
        <mat-hint *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.errors" class="mat-mdc-form-field-error">
          Câmp obligatoriu
        </mat-hint>
      </mat-form-field>
    </div>

  </form>
</div>
<div mat-dialog-actions class="form-buttons">
  <button mat-button (click)="onNoClick()">Anulare</button>
  <button mat-button (click)="onSubmit()" [disabled]="isDisabled()">Salvare</button>
</div>
