form {
  display: flex;
  flex-direction: column;

  &.details-form {
    margin-top: 20px;
    width: 100%;
  }

  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    transition: border-color 0.3s ease-in-out;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    border-color: red; /* Schimbă culoarea bordurii atunci când câmpul este focusat */
  }
}

.patient-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mat-button-toggle-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mat-button-toggle {
  flex: 1;
  mat-icon {
    font-size: 30px;
    height: 40px;
    width: 100px;
  }
}
