<mat-toolbar color="primary">
  <span>{{ isAdd ? 'Adaugă un pacient nou' : 'Modifică date pacient' }}</span>
</mat-toolbar>
<div mat-dialog-content>
  <form *ngIf="patientForm" [formGroup]="patientForm" class="patient-form">
    <div class="form-row">
      <div *ngFor="let field of formFields" class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <ng-container [ngSwitch]="field.type">
            <input *ngSwitchCase="'text'" matInput [type]="field.type" [formControlName]="field.formControlName" />
            <input *ngSwitchCase="'tel'" matInput [type]="field.type" [formControlName]="field.formControlName" />
            <input *ngSwitchCase="'email'" matInput [type]="field.type" [formControlName]="field.formControlName" />
            <mat-select *ngSwitchCase="'select'" [formControlName]="field.formControlName">
              <mat-option *ngFor="let medic of allMedics" [value]="medic.id">
                {{ medic.first_name }} {{ medic.last_name }}
              </mat-option>
            </mat-select>
          </ng-container>
          <mat-error *ngIf="patientForm.get(field.formControlName)?.touched && patientForm.get(field.formControlName)?.hasError('required')">
            Câmp obligatoriu
          </mat-error>
          <mat-error *ngIf="patientForm.get(field.formControlName)?.touched && patientForm.get(field.formControlName)?.hasError('invalidCNP')">
            CNP invalid
          </mat-error>
          <mat-error *ngIf="patientForm.get(field.formControlName)?.touched && patientForm.get(field.formControlName)?.hasError('invalidPhoneNumberRO')">
            Număr de telefon invalid
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    
  </form>
</div>
<div mat-dialog-actions class="form-buttons">
  <button mat-button (click)="onNoClick()">Anulare</button>
  <button mat-button (click)="onSubmit()">Salvare</button>
</div>
