<main>
  <div class="table-container mat-elevation-z8">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="appointments-toolbar">
        <div class="left-buttons">
          <button mat-button (click)="changeView(CalendarView.Month)" [class.active]="view === CalendarView.Month">Luna</button>
          <button mat-button (click)="changeView(CalendarView.Week)" [class.active]="view === CalendarView.Week">Saptamana</button>
          <button mat-button (click)="changeView(CalendarView.Day)" [class.active]="view === CalendarView.Day">Zi</button>
        </div>
        <span class="toolbar-spacer"></span>
        <span style="text-transform: capitalize;">{{ viewDate | calendarDate : view + "ViewTitle" : locale }}</span>
        <span class="toolbar-spacer"></span>
        <div class="right-buttons">
          <button mat-button mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view" (viewDateChange)="closeOpenMonthViewDay()">
            <mat-icon class="appointment-icon" aria-hidden="false" aria-label="Previous arrow">chevron_left</mat-icon>
          </button>
          <button mat-button mwlCalendarToday [(viewDate)]="viewDate">
            <mat-icon class="today-icon" aria-hidden="false" aria-label="Today icon">today</mat-icon>
          </button>
          <button mat-button mwlCalendarNextView [(viewDate)]="viewDate" [view]="view" (viewDateChange)="closeOpenMonthViewDay()">
            <mat-icon class="appointment-icon" aria-hidden="false" aria-label="Next arrow">chevron_right</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div [cdkContextMenuTriggerFor]="context_menu">
      <div class="calendar-container">
        <!--       <app-calendar-header [(view)]="view" [(viewDate)]="viewDate">
                </app-calendar-header> -->
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [weekStartsOn]="weekStartsOn"
            [locale]="locale"
            [activeDayIsOpen]="activeDayIsOpen"
            (eventClicked)="eventClicked($event)"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-month-view>
  
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            [hourSegments]="hourSegments"
            [hourSegmentTemplate]="weekViewHourSegmentTemplate"
            [dayStartHour]="startHour"
            [weekStartsOn]="weekStartsOn"
            [locale]="locale"
            (eventClicked)="eventClicked($event)"
            [dayEndHour]="endHour"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            [hourSegments]="hourSegments"
            [hourSegmentTemplate]="weekViewHourSegmentTemplate"
            [dayStartHour]="startHour"
            [locale]="locale"
            (eventClicked)="eventClicked($event)"
            [dayEndHour]="endHour"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #weekViewHourSegmentTemplate let-segment="segment" let-locale="locale" let-segmentHeight="segmentHeight" let-isTimeLabel="isTimeLabel">
  <div
    #segmentElement
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    (mousedown)="startDragToCreate(segment, $event, segmentElement)"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate : "weekViewHour" : locale }}
    </div>
  </div>
</ng-template>

<ng-template #context_menu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem>Delete</button>
  </div>
</ng-template>