.loader-hack {
  height: 100%;
  width: 98%;
  background: rgb(250, 250, 250);
  position: absolute;
  top: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .column-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .column {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 10px;

      &.details {
        flex: 1;
      }

      &.medical {
        flex: 1;
      }
    }

    &.medical-history {
      flex-wrap: wrap;
      & > .column {
        flex: 1 0 25%;
      }

      .row {
        margin: 23px 0;
      }
    }
  }
}

.comment-row {
  display: flex;
  justify-content: space-between;
}

mat-card.patient-details {
  align-items: center;
  text-align: center;
}

mat-card.patient-details,
mat-card.medical-history,
mat-card.appointment-history,
mat-card.comments {
  height: 100%;
  mat-card-content {
    padding-top: 16px;

    .row {
      margin: 10px 0;
      line-height: 30px;
      .label {
        font-weight: bold;
      }
      .value {
        mat-icon {
          display: inline-flex;
        }
      }
    }
  }
}

.comments {
  form {
    margin-top: 16px;
  }  
}

.full-width {
  width: 100%;
}



@media (min-width: 792px) {
  .container {
    gap: 20px;
    .column-container {
      flex-direction: row;
      flex: 1;
      gap: 20px;

      .column {
        gap: 20px;

        &.details {
          flex: 0.5;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .column-container {
    .column {
      &.details {
        flex: 0.3;
      }
    }
  }

  .charts {
    .chart-container {
      max-height: 450px;
    }
  }
}

.patient-logo {
  height: 120px;
  width: 120px;
  display: block;
  margin: 0px auto;
  position: relative;
  overflow: hidden;

  img {
    width: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    object-fit: contain;
  }
}

.timeline {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #e9ecef;
  left: 20px;
  margin-left: -1.5px;
}

.timeline-item {
  margin: 20px 0;
  padding-left: 40px;
  position: relative;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid blue;
  top: 5px;
  left: 12.5px;
  z-index: 1;
}

.timeline-content {
  padding: 10px 0;
}

.status {
  font-weight: bold;
}

.date {
  color: #6c757d;
  font-size: 0.85rem;
}

.timeline-item.confirmat::before {
  border: 2px solid green; /* Border verde pentru meta Confirmat */
}

.timeline-item.anulat::before {
  border: 2px solid red; /* Border ro»ôu pentru meta Anulat */
}