<div class="container">
  <div class="column-container">
    <div class="column details">
      <mat-card appearance="outlined" class="patient-details">
        <mat-card-header>
          <mat-card-title>
            <div class="patient-logo">
              <img [src]="patient.sex === 'F' ? '../../assets/images/female-icon.png' : '../../assets/images/male-icon.png'" alt="Gender Icon" />
            </div>
          </mat-card-title>
          <mat-card-title>{{ patient.first_name }} {{ patient.last_name }}</mat-card-title>
          <mat-card-subtitle
            ><strong>{{ patient.age }} Ani</strong></mat-card-subtitle
          >
          <mat-card-subtitle>{{ patient.sex === "F" ? "Pacientă" : "Pacient" }} clinică</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Icons </span>
            <span class="value">here some icons (aparat dentar etc.)</span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="column details">
      <mat-card appearance="outlined" class="patient-details">
        <mat-card-header>
          <mat-card-title> Date personale </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">CNP: </span>
            <span class="value">{{ patient.cnp }}</span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Sex: </span>
            <span class="value" *ngIf="patient.sex; else editButton">
              <mat-icon *ngIf="patient.sex === 'F'" fontSet="fa-solid" fontIcon="fa-venus"></mat-icon>
              <mat-icon *ngIf="patient.sex === 'M'" fontSet="fa-solid" fontIcon="fa-mars"></mat-icon>
            </span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Data nastere: </span>
            <span class="value" *ngIf="patient.birth_date; else editButton">
              {{ patient.birth_date | date : "dd.MM.yyyy" }}
            </span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Nr. dosar fizic: </span>
            <span class="value" *ngIf="patient.phisical_file; else editButton">
              {{ patient.phisical_file }}
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="column details">
      <mat-card appearance="outlined" class="patient-details">
        <mat-card-header>
          <mat-card-title> Date contact </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Telefon: </span>
            <span class="value" *ngIf="patient.phone; else editButton">
              {{ patient.phone }}
            </span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Email: </span>
            <span class="value" *ngIf="patient.email; else editButton">
              {{ patient.email }}
            </span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Contact secundar: </span>
            <span class="value" *ngIf="patient.secondary_contact_name; else editButton">
              {{ patient.secondary_contact_name }}
            </span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Telefon contact secundar: </span>
            <span class="value" *ngIf="patient.secondary_contact_phone; else editButton">
              {{ patient.secondary_contact_phone }}
            </span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Adresa: </span>
            <span class="value" *ngIf="patient.address; else editButton">
              {{ patient.address }}
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="column details">
      <mat-card appearance="outlined" class="patient-details">
        <mat-card-header>
          <mat-card-title> Programari </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Programare viitoare: </span>
            <span class="value">Fara programare / 01.01.2024 - 15:30</span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Programari onorate: </span>
            <span class="value">1</span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label">Programari anulate: </span>
            <span class="value">3</span>
          </p>
          <mat-divider></mat-divider>
          <p class="row">
            <span class="label"><a href="/appointments">Adauga programare</a></span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Schema dentara">
      <mat-toolbar color="primary">Schema dentara</mat-toolbar>
    </mat-tab>
    <mat-tab label="Istoric programari">
      <mat-toolbar color="primary">
        <span>Istoric programari</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button>
          <mat-icon fontSet="fa-solid" fontIcon="fa-plus"></mat-icon>
        </button>
      </mat-toolbar>
    </mat-tab>
    <mat-tab label="Interventii">
      <mat-toolbar color="primary">
        <span>Interventii</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button>
          <mat-icon fontSet="fa-solid" fontIcon="fa-plus"></mat-icon>
        </button>
      </mat-toolbar>
      <mat-card appearance="outlined" class="medical-history">
        <mat-card-content>
          <table mat-table [dataSource]="medicalHistory">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Entry no.</th>
              <td mat-cell *matCellDef="let history">{{ history.id }}</td>
            </ng-container>

            <ng-container matColumnDef="hospital">
              <th mat-header-cell *matHeaderCellDef>Hospital</th>
              <td mat-cell *matCellDef="let history">{{ history.hospital }}</td>
            </ng-container>

            <ng-container matColumnDef="intervention">
              <th mat-header-cell *matHeaderCellDef>Intervention</th>
              <td mat-cell *matCellDef="let history">{{ history.intervention }}</td>
            </ng-container>

            <ng-container matColumnDef="interventionDate">
              <th mat-header-cell *matHeaderCellDef>Intervention Date</th>
              <td mat-cell *matCellDef="let history">{{ history.interventioN_DATE | date : "dd.MM.yyyy - HH:mm:ss" }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['id', 'hospital', 'intervention', 'interventionDate']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['id', 'hospital', 'intervention', 'interventionDate']"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Imagistica">
      <mat-toolbar color="primary">
        <span>Imagistica</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button>
          <mat-icon fontSet="fa-solid" fontIcon="fa-plus"></mat-icon>
        </button>
      </mat-toolbar>
    </mat-tab>
    <mat-tab label="Documente">
      <mat-toolbar color="primary">
        <span>Documente</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button>
          <mat-icon fontSet="fa-solid" fontIcon="fa-plus"></mat-icon>
        </button>
      </mat-toolbar>
    </mat-tab>
    <mat-tab label="Comentarii">
      <mat-toolbar color="primary">
        <span>Comentarii</span>
      </mat-toolbar>
      <mat-card appearance="outlined" class="comments">
        <mat-card-content>
          <div class="comments-container" *ngIf="comments.length">
            <div *ngFor="let comment of comments">
              <mat-divider></mat-divider>
              <p class="row comment-row">
                <span class="label" style="margin-right: 10px;">{{ comment.createD_AT | date : "dd.MM.yyyy - HH:mm:ss" }}: </span>
                <span class="value"> {{ comment.comment }}</span>
                <span class="toolbar-spacer"></span>
                <button mat-icon-button (click)="deleteComment(comment)">
                  <mat-icon fontIcon="delete" color="warn"></mat-icon>
                </button>
              </p>
              <mat-divider></mat-divider>
            </div>
          </div>
          <form (ngSubmit)="addNewComment()">
            <mat-form-field class="full-width">
              <mat-label>Lasa un comentariu</mat-label>
              <textarea name="comment" [(ngModel)]="newComment" matInput placeholder="Ex. Pentru urmatoarea programare..."></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary">
              <span *ngIf="loadingComment" class="spinner-border spinner-border-sm me-1"></span>
              Salveaza
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #editButton>
  <button mat-icon-button (click)="editPatient(patient)">
    <mat-icon fontIcon="edit" color="primary"></mat-icon>
  </button>
</ng-template>