<div class="login-wrap">
  <mat-card class="box">
    <mat-card-header>
      <mat-toolbar color="primary">
        <span>Autentificare</span>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Nume utilizator</mat-label>
          <input matInput type="text" formControlName="username" />
          <mat-error *ngIf="submitted && f['username'].errors" class="mat-mdc-form-field-error">Câmp obligatoriu</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Parolă</mat-label>
          <input matInput type="password" formControlName="password" class="form-control" />
          <mat-error *ngIf="submitted && f['password'].errors" class="mat-mdc-form-field-error">Câmp obligatoriu</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Conectare
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
