.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.dentalscheme{
  display: flex;
  gap: 10px;
  margin-left: 20px; /* Ajustează dacă este necesar */
}

  rect {
    cursor: pointer;
    transition: fill 0.3s;
  }
  
  rect:hover {
    fill: lightgray;
  }
  
  .selected {
    fill: yellow;
  }

  .extracted {
    fill: gray!important;
  }
  
  .touched {
    fill: yellow;
  }