<mat-toolbar color="primary">
  <span>Programare nouă - {{ inputData.startDate | date : "dd.MM.yyyy" }}</span>
</mat-toolbar>
<div mat-dialog-content>
  <main>
    <div class="container">
      <div class="column-container">
        <div class="column details">
            <div class="form-columns">
              <div class="form-column">
                <div class="form-row">
                  <mat-form-field>
                    <mat-label>Oră început</mat-label>
                    <input [(ngModel)]="inputData.startTime" name="startTime" matInput disabled>                  
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Oră sfârșit</mat-label>
                    <input [(ngModel)]="inputData.endTime" name="endTime" matInput disabled>
                  </mat-form-field>
                </div>
                <div class="form-row">
                  <mat-form-field>
                    <mat-label>Selectează pacient</mat-label>
                    <mat-select [(ngModel)]="inputData.selectedPatient" name="selectedPatient">
                      <mat-option *ngFor="let patient of patients" [value]="{ medic_id: patient.medic_id, patient_id: patient.id, fullname: patient.first_name + ' ' + patient.last_name}">
                        {{ patient.first_name }} {{ patient.last_name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="inputData.selectedStatus" name="selectedStatus">
                      <mat-option id='1' value="Confirmat">Confirmata</mat-option>
                      <mat-option id='1' value="Anulat">Anulata</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </main>
</div>
<div mat-dialog-actions class="form-buttons">
  <button mat-button mat-dialog-close>Anulare</button>
  <button mat-button (click)="saveCalendarEventDialog()">Salvare</button>
</div>