mat-button-toggle-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    mat-button-toggle {
      flex: 1;
  
      mat-icon {
        font-size: 30px;
        height: 40px;
        width: 100px;
      }
    }
  }
  
  .form-buttons {
    justify-content: space-between;
  }
  

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
  }
  .form-columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-column {
    flex: 1;
    margin-right: 20px; /* sau orice altă valoare dorită pentru spațiere între coloane */
  }
  
  @media screen and (max-width: 600px) {
    .form-column {
      flex: 100%;
      margin-right: 0;
    }
  }
  
  .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    
      .column-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        .column {
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 10px;
    
          &.details {
            flex: 1;
          }
        }
      }
    }
    
    .full-width {
      width: 500px;
    }