// src/styles.scss
@use "@angular/material" as mat;

@import "~@fortawesome/fontawesome-free/css/all.css";

@include mat.core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

$my-app-primary: #3f51b5;
$my-app-success: #4caf50;
$my-app-error: #f44336;
$my-app-light-blue: #03a9f4;
$my-app-yellow: #ff9800;

@include mat.all-component-themes($my-app-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main,
main {
  padding: 20px;
}

main {
  padding: 0 20px;
}

.mat-mdc-snack-bar-container.successSnack > div.mdc-snackbar__surface {
  background-color: $my-app-primary;

  .mdc-snackbar__label {
    color: white;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: $my-app-success;
  }
}

.mat-mdc-snack-bar-container.errorSnack > div.mdc-snackbar__surface {
  // background-color: $my-app-error;

  .mdc-snackbar__label {
    color: $my-app-error;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: $my-app-error;
  }
}

.cards mat-card {
  height: 100%;
}

.cards mat-card.blue {
  background: $my-app-light-blue;
}

.cards mat-card.yellow {
  background: $my-app-yellow;
}

.cards mat-card.green {
  background: $my-app-success;
}

.cards mat-card.red {
  background: $my-app-error;
}
