<main>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Communication">
        <mat-toolbar color="primary">
          <span>Communication</span>
          <span class="toolbar-spacer"></span>
        </mat-toolbar>
        <mat-card appearance="outlined" class="medical-history">
            <mat-card-content>
                <app-communication></app-communication>
            </mat-card-content>
          </mat-card>
      </mat-tab>
      <!-- <mat-tab label="Company Data">
        <mat-toolbar color="primary">
          <span>Company Data</span>
          <span class="toolbar-spacer"></span>
        </mat-toolbar>
      </mat-tab>
      <mat-tab label="Forms">
        <mat-toolbar color="primary">
          <span>Forms</span>
          <span class="toolbar-spacer"></span>
        </mat-toolbar>
      </mat-tab> -->
      <mat-tab label="Works">
        <mat-toolbar color="primary">
          <span>Works</span>
          <span class="toolbar-spacer"></span>
        </mat-toolbar>
      </mat-tab>
      <mat-tab label="Conditions">
        <mat-toolbar color="primary">
          <span>Conditions</span>
          <span class="toolbar-spacer"></span>
        </mat-toolbar>
      </mat-tab>
</mat-tab-group>
</main>